In [1]:
import sys

In [4]:
print( sys.version_info[0] )
print( sys.version_info[1] )
print( sys.version_info[2] )

3
5
2

In [60]:
import pandas as pd
import numpy as np

In [64]:
tweets = pd.read_csv( "data/tweets.csv", usecols=[ "text", "created_at" ] )
tweets.head()

                                                text           created_at
0  Be sure to tune in and watch Donald Trump on L...  05-04-2009 18:54:25
1  Donald Trump will be appearing on The View tom...  05-05-2009 01:00:10
2  Donald Trump reads Top Ten Financial Tips on L...  05-08-2009 13:38:08
3  New Blog Post: Celebrity Apprentice Finale and...  05-08-2009 20:40:15
4  My persona will never be that of a wallflower ...  05-12-2009 14:07:28

In [65]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31636 entries, 0 to 31635
Data columns (total 2 columns):
text          31635 non-null object
created_at    31632 non-null object
dtypes: object(2)
memory usage: 494.4+ KB

In [66]:
tweets.count()

text          31635
created_at    31632
dtype: int64

In [67]:
tweets.dropna( inplace=True )

In [68]:
tweets.count()

text          31632
created_at    31632
dtype: int64

In [69]:
tweets[ "date" ] = pd.to_datetime( tweets.created_at, infer_datetime_format=True, errors='coerce' ) #format='%m-%d-%Y %H:%M:%S' )
tweets.drop( [ 'created_at' ], axis=1, inplace=True )
tweets.dropna( inplace=True )

In [75]:
tweets.count()

text     31629
date     31629
year     31629
month    31629
dtype: int64

In [73]:
tweets[ "year" ] = tweets.date.dt.year
tweets[ "month" ] = tweets.date.dt.month
tweets[ "year" ] = tweets[ "year" ].astype( np.int32 )
tweets[ "month" ] = tweets[ "month" ].astype( np.int32 )

In [76]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31629 entries, 0 to 31635
Data columns (total 4 columns):
text     31629 non-null object
date     31629 non-null datetime64[ns]
year     31629 non-null int32
month    31629 non-null int32
dtypes: datetime64[ns](1), int32(2), object(1)
memory usage: 988.4+ KB

In [88]:
#tweets.groupby( [ "year", "month" ] ).count().reset_index()
tweets.groupby( [ "year" ] ).count().reset_index()

   year  text  date  month
0  2009    56    56     56
1  2010   142   142    142
2  2011   762   762    762
3  2012  3190  3190   3190
4  2013  7173  7173   7173
5  2014  5340  5340   5340
6  2015  6641  6641   6641
7  2016  3784  3784   3784
8  2017  2601  2601   2601
9  2018  1940  1940   1940

In [ ]:
TODO: Eliminate the text column in the summary above?